.menu-lateral {
    width: 20%;
    min-width: 11rem;
    height: 84vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(68, 68, 68);
    overflow: hidden scroll;
    font-size: 18px;
}

.menu-lateral::-webkit-scrollbar{
    width: 8px;
}

.menu-lateral::-webkit-scrollbar-thumb{
    background-color: rgb(237, 237, 237);
    border-radius: .3rem;
}
.menu-lateral::-webkit-scrollbar-track{
    background-color: rgb(68, 68, 68);
    border-radius: .3rem;
}

.menu-lateral details {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(237, 237, 237);
    height: 2.5rem;
    transition: height .3s ease-in;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
}

.menu-lateral details[open] {
    height: auto;
}

details.details-tienda[open]{
    height: 7rem;
}
details.details-products[open]{
    height: 11rem;
}
details.details-admin[open]{
    height: 6rem;
}

details.details-web[open]{
    height: 4rem;
}

.menu-lateral summary {
    font-weight: bold;
}

.menu-lateral div {
    width: 100%;
    padding-inline: .3rem;
    border-radius: .3rem;
}

.menu-lateral div:hover{
    background-color: #b4b4b4;
}